---
import Layout from "../layouts/Layout.astro";

---

<Layout title='O mne'>
	<section class="h-screen bg-cover bg-no-repeat" style="background-image:url(bg-intro.jpg)">
        O mne
	</section>
</Layout>