---
const {text} = Astro.props
---

<a class="flex items-center overflow-hidden px-[8px] hover:scale-110 transition-transform cursor-pointer">
    <div class="border-l-[1px] border-t-[1px] border-main w-[36px] h-[36px] -rotate-45 -mr-[20px]"/>
    <div class="border-t-[1px] border-b-[1px] border-main h-[46px] px-2 leading-10">{text}</div>
    <div class="border-r-[1px] border-t-[1px] border-main w-[36px] h-[36px] rotate-45 -ml-[20px]" />
</a>