---
import RichTextRenderer from '@caisy/rich-text-astro-renderer';

const {background, color, subTitle, Tile, title} = Astro.props;
--- 

<section class="hero" >
    <div class="heroContent" style=`background-image:url(${background})`>
        <div class="">
            <h1 class="heroTitle">{title}</h1>
            {subTitle && <h2 class="heroSubtitle"><RichTextRenderer node={subTitle.json} /></h2>}
        </div>
    </div>
    <div class='heroTileWrapper' style=`background-color: var(--color-${color})`>
        {Tile && <div class="heroTile"><Tile /></div>}
    </div>
</section>