---
import Logo from "./Logo.astro";
---

<nav class="fixed top-0 left-0 w-screen h-20 flex items-center px-10 space-x-8 bg-amber-50 bg-opacity-30 border-b-[1px] border-main z-30">
    <a class="font-title text-3xl mr-6" href="/">Simply Bee</a>
    <a class="text-2xl font-extralight" href="/o-mne">O mne</a>
    <a class="text-2xl font-extralight" href="/joga">Joga</a>
    <a class="text-2xl font-extralight" href="/terapie">Terapie</a>
    <a class="text-2xl font-extralight" href="/minimalismus">Minimalismus</a>
    <a class="text-2xl font-extralight" href="/kontakt">Kontakt</a>
</nav>