---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav class="nav">
    <a class="navLogo" href="/">Simply Bee</a>
    <a class=`${currentPath === "joga" ? "active" : ""} navItem` href="/joga">Joga</a>
    <a class=`${currentPath === "terapie" ? "active" : ""} navItem` href="/terapie">Terapie</a>
    <a class=`${currentPath === "minimalismus" ? "active" : ""} navItem` href="/minimalismus">Minimalismus</a>
    <a class=`${currentPath === "kontakt" ? "active" : ""} navItem` href="/kontakt">Kontakt</a>
</nav>