<a href="/terapie" transition:name="therapy">
    <div class=`float-left border-r-[90px] border-r-therapy border-t-[156px] border-b-[156px] border-y-transparent` />
    <div class=`float-left w-[180px] h-[312px] bg-therapy` />
    <div class=`float-left border-l-[90px] border-l-therapy border-t-[156px] border-b-[156px] border-y-transparent` />
</a>