---
const {color, ImageComponent, title} = Astro.props;
---

<div class="relative">
    <div class="h-[316px] w-[366px]">
        <div class=`float-left border-r-[92px] border-r-main border-t-[158px] border-b-[158px] border-y-transparent` />
        <div class=`float-left w-[182px] h-[316px] bg-main` />
        <div class=`float-left border-l-[92px] border-l-main border-t-[158px] border-b-[158px] border-y-transparent` />
    </div>
    <div class="absolute top-[1px] left-[1px] h-[312px] w-[364px]">
        <div class=`float-left border-r-[91px] border-r-${color} border-t-[157px] border-b-[157px] border-y-transparent` />
        <div class=`float-left w-[182px] h-[314px] bg-${color}` />
        <div class=`float-left border-l-[91px] border-l-${color} border-t-[157px] border-b-[157px] border-y-transparent` />
    </div>
    {ImageComponent && <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"><ImageComponent className="w-[350px] h-[350px]" /></div>}
    <div class=`absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2`><slot /></div>
    {title && <h3 class="absolute bottom-10 left-1/2 -translate-x-1/2 w-[180px] text-center font-extralight text-xl">{title}</h3>}
</div>