<a href="/joga" transition:name="yoga">
    <div class=`float-left border-r-[90px] border-r-yoga border-t-[156px] border-b-[156px] border-y-transparent` />
    <div class=`float-left w-[180px] h-[312px] bg-yoga` />
    <div class=`float-left border-l-[90px] border-l-yoga border-t-[156px] border-b-[156px] border-y-transparent` />
</a>